node_modules/
npm-debug.log
dist/
dist.esm/
packages/website/src/assets/docs/
packages/website/src/assets/packages.json
*~
*.tgz

foobar*/
example-app/
lerna-debug.log
*.tsbuildinfo
cli-test/
bombardier.exe
.angular
packages/website/src/assets/docs
