$page-width: 1280px;
$thin-section: 960px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    position: relative;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: black;
}

.prose {
    background: #0044aa;
    color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 1em;
    font-size: 120%;

    &:nth-child(2n + 1) {
        background: white;
        color: black;
    }

    ::ng-deep a {
        color: white;
    }

    & > div {
        width: $page-width;
        max-width: 100%;
    }
}

.hero {
    position: relative;
    width: $page-width;
    max-width: 100%;
    border-radius: 35px;
    height: 40em;
    overflow: hidden;
    margin-top: 2em;
    box-shadow: 0px 0px 40px #00000033;

    --mdc-text-button-label-text-color: white;

    transition: 200ms border-radius ease-in-out, 200ms margin-top ease-in-out;

    @media (width < $page-width) {
        margin-top: 0;
        border-radius: 0px;
    }

    .right-nav {
        svg {
            filter: drop-shadow(1px 1px 2px black);
        }
        svg ::ng-deep * {
            fill: currentColor !important;
            stroke: none !important;
        }
    }
    
    svg.npm {
        aspect-ratio: 3/2;
        height: 2em;
        width: fit-content;
        position: relative;
        top: 0.3em;
    }
    .left-nav {
        position: absolute;
        top: 1em;
        left: 1em;
        color: white;
        z-index: 10;
    }

    .right-nav {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
        z-index: 10;
        display: flex;
        align-items: center;

        // > * {
        //     border: 1px solid red;
        // }
    }

    .quick-jump {
        --mdc-text-button-label-text-color: white;
    }
    .foreground, .fader {
        position: absolute;
        inset: 0;
    }

    .foreground {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 1em;

        img {
            max-width: 100%;
        }
    }

    .product-reference {
        display: inline-flex;
        color: #3178c6;
        gap: 0.25em;
        margin: 0 0.3em;
        align-items: baseline;
        font-weight: bold;

        svg {
            width: auto;
            height: 1em;
            aspect-ratio: 1/1;

        }
        svg ::ng-deep rect {
            fill: currentColor;
        }
    }

    .fader {
        background: 
            linear-gradient(
                to bottom,
                transparent 10%,
                white
            ), 
            url(/assets/clouds-1.jpg)
            //url(/assets/mountains-1.jpg)
            //url(/assets/blue-pattern-1.jpg)
            //url(/assets/night-sky-1.jpg)
        ;
        
        background-size: cover;
        background-position: center;
    }
}

.packages {
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: $page-width;
    max-width: 100%;
    margin: 5em 0;

    .package {
        --image-size: 64px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15em;
        aspect-ratio: 1/1;
        text-decoration: none;

        background-color: #8ac1ff;
        color: #0044aa;
        border-radius: 50%;

        .label {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            .name, .description {
                text-align: center;
            }

            .name {
                font-weight: bold;
            }

            .description {
                font-size: 80%;
                padding: 0 2em;
            }
        }

        svg {
            height: var(--image-size);
            width: var(--image-size);

            ::ng-deep * {
                fill: currentColor !important;
                stroke: currentColor !important;
            }
        }

        mat-icon {
            width: var(--image-size);
            height: var(--image-size);
            font-size: var(--image-size);
        }
    }
}

@media (width < 650px) {
    .packages {
        flex-direction: column;
        gap: 1em;

        .package {
            width: 100%;
            border-radius: 10px;
            aspect-ratio: initial;
            flex-direction: row;
            gap: 1em;
            justify-content: flex-start;
            padding: 1em;

            .label {
                align-items: flex-start;
                text-align: left;

                .description {
                    padding: 0;
                    text-align: left;
                }
            }
        }
    }
}

.quick-menu {
    svg {
        height: var(--image-size);
        width: var(--image-size);

        ::ng-deep * {
            fill: currentColor !important;
            stroke: currentColor !important;
        }
    }

    mat-icon {
        width: var(--image-size);
        height: var(--image-size);
        font-size: var(--image-size);
    }

}

.c2a {
    display: flex;
    gap: 1em;
}

.features {
    width: $page-width;
    max-width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-around;

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        flex-basis: 33%;

        --icon-size: 96px;
        --icon-color: #0044aa;

        .label {
            font-weight: bold;
            margin: 1em;
            font-size: 120%;
        }

        .summary {
            text-align: center;
        }
        
        mat-icon {
            width: var(--icon-size);
            height: var(--icon-size);
            font-size: var(--icon-size);
            color: var(--icon-color);
        }

        mat-icon, svg {
            display: block;
            margin: 32px;
        }

        svg {
            width: var(--icon-size);
            height: auto;
            aspect-ratio: 1/1;
        }

        svg ::ng-deep rect {
            color: var(--icon-color);
        }
    }

    @media (width < 715px) {
        flex-direction: column;

        .feature {
            --icon-size: 48px;
            flex-direction: row;
            mat-icon {
                margin: 8px;
                
            }

            .label {
                width: 6em;
                flex-grow: 0;
                flex-shrink: 0;
            }

            .summary {
                text-align: left;
            }
        }

    }
}

alt-try-it {
    width: $page-width;
    max-width: 100%;
}

alt-getting-started {
    width: $thin-section;
    max-width: 100%;
}

.c2a {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 4em 0 0 0;
}