# kick: 1

version: 2.1

commands:
  run_tests:
    description: "Build Alterior and run the test suite"
    parameters:
      version:
        type: string
    steps:
      - checkout
      - run: sudo npm install npm@9 -g
      - restore_cache:
          keys:
          - v1-dependencies-<< parameters.version >>-{{ checksum "package.json" }}
          - v1-dependencies-<< parameters.version >>-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-<< parameters.version >>-{{ checksum "package.json" }}
      - run: npm run bootstrap
      - run: npm test
jobs:
  node-21:
    docker:
      - image: cimg/node:21.6
    working_directory: ~/repo
    steps:
      - run_tests:
          version: "21"
  node-20:
    docker:
      - image: cimg/node:20.11
    working_directory: ~/repo
    steps:
      - run_tests:
          version: "20"
  node-18:
    docker:
      - image: cimg/node:18.13
    working_directory: ~/repo
    steps:
      - run_tests:
          version: "18"
  node-16:
    docker:
      - image: cimg/node:16.19
    working_directory: ~/repo
    steps:
      - run_tests:
          version: "16"

workflows:
  build:
    jobs:
      - node-21
      - node-20
      - node-18
      - node-16
